<h2>Wydatki</h2>

<p class="">
  <button type="button" (click)="changePeriod(true)">&lt;</button>
  {{ filter.year }} - {{ filter.month }}
  <button type="button" (click)="changePeriod(false)">&gt;</button>
</p>

<table>
  <tr *ngFor="let expense of expenses">
    <td>{{ expense.kategoria?.code }}</td>
    <td>{{ expense.kategoria?.name }}</td>
    <td class="align-right">{{ expense.kwota }}</td>
    <td>{{ expense.info }}</td>
    <td><a [title]="" [routerLink]="['/expenses', expense.id]">Zmien</a></td>
  </tr>
</table>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
