<h2>Wydatki</h2>

<p class="">
  <button type="button" (click)="changePeriod(true)">&lt;</button>
  {{ filter.year }} - {{ filter.month }}
  <button type="button" (click)="changePeriod(false)">&gt;</button>
<p>

<div *ngFor="let expense of expenses">
  <p>{{ expense.kwota }} {{ expense.info }}</p>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
